<!DOCTYPE html>
<html lang="id">
<head>
   <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="Cheguide - Outing & Rafting di Bogor" />
  <meta property="og:description" content="Provider resmi rafting Cisadane, outing perusahaan, outbound, fun games, off-road, dan paintball di Bogor dengan pemandu berpengalaman!" />
  <meta property="og:image" content="https://github.com/develovement/cheguide-asset/blob/main/1.png?raw=true" />
  <meta property="og:url" content="https://cheguideeventorganizer.com/" />
  <meta property="og:type" content="website" />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Cheguide - Outing & Rafting di Bogor">
  <meta name="twitter:description" content="Rafting Cisadane & Outing Seru Bersama Cheguide!">
  <meta name="twitter:image" content="https://github.com/develovement/cheguide-asset/blob/main/1.png?raw=true">


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="PT Cheguide Wisata Air - Provider rafting Cisadane, outing perusahaan, outbound, fun games, off-road, dan paintball di Bogor">
  <title><%= title %></title>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            'cheguide-green': '#009E49',
            'cheguide-blue': '#0072BC',
            'cheguide-yellow': '#FFC300',
            'cheguide-dark': '#1A1A1A',
          },
          fontFamily: {
            'poppins': ['Poppins', 'sans-serif'],
          }
        }
      }
    }
  </script>
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-50RHXR9TG0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-50RHXR9TG0');
</script>

</head>
<body class="font-poppins text-cheguide-dark">
  <%- include('partials/navbar') %>

  <main>
    <%- body %>
  </main>

  <%- include('partials/footer') %>

  <script src="/js/main.js"></script>
</body>
</html>
